@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f4f4f4;
  font-family: "Inter", sans-serif;	
}

.hideScroll::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent; /* or add it to the track */
}
